body {
    background-image: url("../imgs/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Berkshire Swash', cursive;
    height: 100%;

}
h1 {
    font-size: 3em;
}
body>div, header, footer {
    width: 25%;
}
.display-section{
    position: relative;
}
.inner-bg{
    filter: blur(6px);
    position: absolute;
    background-color: gray  ;
    opacity: 75%;
    z-index: -1;
}
footer>span {
    letter-spacing: 10px;
}